<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta charset="utf-8">
    <title>Reset your Jabber account password</title>
  </head>
  <body>
  <div id="estilo" class="formulario">
    <h1>Reset your Jabber account password</h1>
    <form action="{path}?{token}" method="POST">
      <p class="error">{notice}</p>
          <label>
	    Token:
	  </label>
          <input name="token" value="{token}" required readonly>
          <div class="spacer"></div>

          <label>
	    New password:
	  </label>
          <input name="newpassword" type="password" required size="35">
          <div class="spacer"></div>
          <input id="button" class="button" type="submit" value="Cambiar!">
          <div class="spacer"></div>
    </form>
  </div>
  </body>
</html>

